div{
    width: 100%;
    height: 300px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
li{
    background-color: purple;
    height: 100px;
    width: 100px;
    color: yellow; 
    /*mivel a pont még ott van  */
}